/* ThankYou.css */
.thankyou-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.thankyou-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.thankyou-message {
    font-size: 1.2em;
    color: #666;
}

.go-to-home-btn{
    background-color: var(--primary-color);
    color: #fff;
    border: #000;
    outline: #000;
    position: absolute;
    padding: 5px 15px;
    padding-bottom: 7px;
    border-radius: 3px;
    top: 90%;
}